body {
    background-color: rgba(85, 194, 227, 0.76);
}

#shopheading {
    font-size: 55px;
    font-weight: bold;
}

.userclass {
    color: black;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 15px;
    /*background: white;*/
    color: yellow;
    padding: 0.5px;
    vertical-align: top;
    margin-left: -10px;
}

#usernametext {
    font-size: 40px;
    font-weight: bold;
}

#cart {
    background-color: #ffffff;
    font-size: large;
    font-weight: bold;
    /*font-family: bold;*/
}

#logout {
    background-color: rgba(25, 142, 245, 0.95);
    font-size: large;
    font-weight: bold;
}