body {
    background-color: rgba(85, 194, 227, 0.76);
}

#heading {
    font-size: 55px;
    font-weight: bold;
}

.form-group {
    /*padding: 20px;*/
    margin: 20px;
}

a {
    margin: 20px;
    font-size: 25px;
    /*font-weight: bold;*/
}

label {
    font-size: 28px;
    font-weight: bold;
}
