body {
    background-color: rgba(85, 194, 227, 0.76);
}

#heading {
    font-size: 55px;
    font-weight: bold;
}

label {
    font-size: 30px;
    font-weight: bold;
}

#detailBox {
    justify-content: space-evenly;
}