body {
    background-color: rgba(85, 194, 227, 0.76);
}

#heading {
    font-size: 55px;
    font-weight: bold;
}

#userblock {
    justify-content: center;
}

#usernametext {
    font-size: 30px;
    font-weight: bold;
}

#logout {
    background-color: rgba(25, 142, 245, 0.95);
    font-size: large;
    font-weight: bold;
}

#cart {
    background-color: #ffffff;
    font-size: large;
    font-weight: bold;
    /*font-family: bold;*/
}

#details {
    font-size: 22px;
}


@media (max-width: 1200px) {
    #usernametext {
        font-size: 24px;
    }
}

@media (max-width: 1070px) {
    #usernametext {
        font-size: 21px;
    }
}

@media (max-width: 960px) {
    #usernametext {
        font-size: 18px;
    }

    #logout, #cart {
        font-size: small;
    }

    #detailsTable {
        font-size: medium;
    }

    #userblock {
        justify-content: left;
    }
}

@media (max-width: 768px) {
    #usernametext {
        font-size: 14px;
    }
}